@import "tailwindcss";
@theme{
  --breakpoint-sm:300px;
  --breakpoint-md:768px;
  --breakpoint-lg:1040px;
  --breakpoint-xl:1366px;
}

@font-face {
  font-family: "InterRegular";
  src: url("./assets/fonts/static/GoogleSansFlex_120pt-Regular.ttf")
    format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterMedium";
  src: url("./assets/fonts/static/GoogleSansFlex_120pt-Medium.ttf")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "InterRegular";
  background-color: #f9fafb;
}